#sync_config.jsonc
/dist
*.zip
/.quodo/
/.vscode/
/.idea/
/.git/
/.DS_Store
/.idea/
/.vscode/
/cursor/
/node_modules/
/.cache/
CLAUDE.md 
.windsurfrules
/.superdesign/
/.cursor/
/.claude/
sync_config.jsonc